# Pandas

In [3]:
import numpy as np
import pandas as pd

In [10]:
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

#### 0. Создать датафрейм.

In [4]:
import pandas as pd
df = pd.DataFrame({'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}, 
        index = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])
print(df)

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

#### 1. Вывести информацию о датафрейме.

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
animal      10 non-null object
age         8 non-null float64
visits      10 non-null int64
priority    10 non-null object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes

#### 2. Вернуть первые 3 строки DataFrame `df`.

In [6]:
print(df[:3])

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no

#### 3. Выберите только столбцы 'animal' и 'age' из DataFrame `df`.

In [7]:
print(df[['animal', 'age']])

  animal  age
a    cat  2.5
b    cat  3.0
c  snake  0.5
d    dog  NaN
e    dog  5.0
f    cat  2.0
g  snake  4.5
h    cat  NaN
i    dog  7.0
j    dog  3.0

#### 4. Выберите данные в строках `[3, 4, 8]` * и * в столбцах `['animal', 'age']`.

In [8]:
print(df.iloc[[3,4,8],[0,1]])

  animal  age
d    dog  NaN
e    dog  5.0
i    dog  7.0

#### 5. Выберите строки где количество посещений больше 3.

In [9]:
print(df[df['visits'] > 3])

Empty DataFrame
Columns: [animal, age, visits, priority]
Index: []

#### 6. Выберите строки, в которых отсутствует возраст.

In [10]:
print(df[df['age'].isnull()])

  animal  age  visits priority
d    dog  NaN       3      yes
h    cat  NaN       1      yes

#### 7. Выберите строки, в которых животное является кошкой * и * возраст составляет менее 3 лет.

In [11]:
print(df[(df['animal'] == 'cat')&(df['age']<3)])

  animal  age  visits priority
a    cat  2.5       1      yes
f    cat  2.0       3       no

#### 8. Выберите строки в которых возраст от 2 до 4 (включительно).

In [12]:
print(df[(2 < df['age'])&(df['age']<=4)])

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
j    dog  3.0       1       no

#### 9. Измените возраст в строке 'f' на 1,5.

In [14]:
df.at['f', 'age']=1.5

#### 10. Рассчитать общее количество всех посещений.

In [15]:
print(df['visits'].sum())

19

#### 11. Расчитайте суммарный возраст животных

In [16]:
print(df['age'].sum())

27.0

#### 12. Добавьте новую строку `k` к `df` со значениями по вашему желанию. Затем удалите ее.

In [17]:
df.loc['k']=['dog', 4, 5, 'yes']
print(df)
df = df.drop('k')
print(df)

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  1.5       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no
k    dog  4.0       5      yes
  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  1.5       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

#### 13. Подсчитайте количество животных каждого типа в `df`.

In [18]:
df['animal'].value_counts()

dog      4
cat      4
snake    2
Name: animal, dtype: int64

#### 14. Сортируйте `df` сначала по значениям в 'age' в * возрастающем * порядке, затем по значениям в столбце 'visit' в * возрастающем * порядке.

In [20]:
df = df.sort_values(by=['age'], ascending = True)
df = df.sort_values(by=['visits'], ascending = True)
print(df)

  animal  age  visits priority
a    cat  2.5       1      yes
j    dog  3.0       1       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
c  snake  0.5       2       no
e    dog  5.0       2       no
i    dog  7.0       2       no
f    cat  1.5       3       no
b    cat  3.0       3      yes
d    dog  NaN       3      yes

#### 15. В столбце приоритет замените значения на `Yes` и `No`

In [21]:
for char in ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']:
    if df.at[char, 'priority'] == 'yes':
        df.at[char, 'priority'] = 'no'
    else:
        df.at[char, 'priority'] = 'yes'
print(df)

  animal  age  visits priority
a    cat  2.5       1       no
j    dog  3.0       1      yes
g  snake  4.5       1      yes
h    cat  NaN       1       no
c  snake  0.5       2      yes
e    dog  5.0       2      yes
i    dog  7.0       2      yes
f    cat  1.5       3      yes
b    cat  3.0       3       no
d    dog  NaN       3       no

#### 16. В столбце «animal» измените записи «snake» на «python».

In [22]:
for char in ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']:
    if df.at[char, 'animal'] == 'snake':
        df.at[char, 'animal'] = 'python'
print(df)

   animal  age  visits priority
a     cat  2.5       1       no
j     dog  3.0       1      yes
g  python  4.5       1      yes
h     cat  NaN       1       no
c  python  0.5       2      yes
e     dog  5.0       2      yes
i     dog  7.0       2      yes
f     cat  1.5       3      yes
b     cat  3.0       3       no
d     dog  NaN       3       no

#### 17. Удалите все повторения строк из таблицы
```python
df = pd.DataFrame ({'A': [1, 2, 2, 3, 4, 5, 5, 5, 6, 7, 7]})
```

In [23]:
df = pd.DataFrame ({'A': [1, 2, 2, 3, 4, 5, 5, 5, 6, 7, 7]})
df = df.drop_duplicates('A')
print(df)

   A
0  1
1  2
3  3
4  4
5  5
8  6
9  7

#### 20. Предположим, у вас есть DataFrame с 10 столбцами действительных чисел, например:

```python
df = pd.DataFrame (np.random.random (size = (5, 10)), columns = список ('abcdefghij'))
```
#### Какой столбец имеет наименьшую сумму? Найдите метку этого столбца.

In [24]:
df = pd.DataFrame (np.random.random (size = (5, 10)), columns = list ('abcdefghij'))
for char in list ('abcdefghij'):
    summa = df[char].sum()
    df.loc['sum', char]=summa
print(df)
minimum = df.loc['sum'].idxmin(axis=1)
print(minimum)

            a         b         c         d         e         f         g  \
0    0.414977  0.858189  0.992806  0.159078  0.043540  0.953886  0.168796
1    0.997464  0.585944  0.694012  0.971192  0.739842  0.931949  0.465988
2    0.733056  0.170567  0.532274  0.546424  0.916886  0.760403  0.056086
3    0.776423  0.440906  0.001832  0.532039  0.985010  0.080976  0.695627
4    0.364400  0.294154  0.363621  0.144422  0.858117  0.886866  0.656137
sum  3.286321  2.349761  2.584545  2.353154  3.543395  3.614080  2.042633

            h         i         j
0    0.172178  0.396540  0.235285
1    0.600762  0.519647  0.763031
2    0.487430  0.570922  0.605917
3    0.929468  0.471835  0.672159
4    0.967055  0.542453  0.653689
sum  3.156893  2.501397  2.930081
g

#### 21. Замените все пропущенные значения, на среднее по столбцу
```python
df = pd.DataFrame({'group': list('aabbabbbabab'),
                       'value': [1, 2, 3, np.nan, 2, 3, 
                                 np.nan, 1, 7, 3, np.nan, 8]})
```

In [25]:
df = pd.DataFrame({'group': list('aabbabbbabab'),
                       'value': [1, 2, 3, np.nan, 2, 3, 
                                 np.nan, 1, 7, 3, np.nan, 8]})
mean = df['value'].mean()
df = df.fillna(mean)
print(df)

   group     value
0      a  1.000000
1      a  2.000000
2      b  3.000000
3      b  3.333333
4      a  2.000000
5      b  3.000000
6      b  3.333333
7      b  1.000000
8      a  7.000000
9      b  3.000000
10     a  3.333333
11     b  8.000000

#### 22. Создайте два новых столбца, для From и To. Приведите названия городов к нормальному виду.

```python
df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN', 'londON_StockhOlm', 
                               'Budapest_PaRis', 'Brussels_londOn'],
              'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
              'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
                   'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )', 
                               '12. Air France', '"Swiss Air"']})
```

In [26]:
df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN', 'londON_StockhOlm', 
                               'Budapest_PaRis', 'Brussels_londOn'],
              'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
              'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
                   'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )', 
                               '12. Air France', '"Swiss Air"']})
cities = df['From_To'].str.split('_')
for i in range(5):
    df.at[i, 'From'] = cities[i][0]
    df.at[i, 'To'] = cities[i][1]
print(df)

            From_To  FlightNumber  RecentDelays              Airline  \
0      LoNDon_paris       10045.0      [23, 47]               KLM(!)
1      MAdrid_miLAN           NaN            []    <Air France> (12)
2  londON_StockhOlm       10065.0  [24, 43, 87]  (British Airways. )
3    Budapest_PaRis           NaN          [13]       12. Air France
4   Brussels_londOn       10085.0      [67, 32]          "Swiss Air"

       From         To
0    LoNDon      paris
1    MAdrid      miLAN
2    londON  StockhOlm
3  Budapest      PaRis
4  Brussels     londOn