In [12]:
import numpy as np
import pandas as pd
import pylab as pl
import matplotlib.pyplot as plt
plt.style.use('ggplot')
%matplotlib inline
import seaborn as sns

Загрузка данных и получение основной информации

In [13]:
data = pd.read_csv('C:/Users/Nastya/Desktop/data_analyse/DATA-ANALYSYS_2-master/Dataset/titanic.csv', encoding="cp1251")
print(data.shape)
print(data.info())

(887, 8)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887 entries, 0 to 886
Data columns (total 8 columns):
Survived                   887 non-null int64
Pclass                     887 non-null int64
Name                       887 non-null object
Sex                        887 non-null object
Age                        887 non-null float64
Siblings/Spouses Aboard    887 non-null int64
Parents/Children Aboard    887 non-null int64
Fare                       887 non-null float64
dtypes: float64(2), int64(4), object(2)
memory usage: 55.6+ KB
None

Обработка пустых значений, заменяем их средним

In [14]:
data = data.fillna(data.mean())
print(data)

     Survived  Pclass                                               Name  \
0           0       3                             Mr. Owen Harris Braund
1           1       1  Mrs. John Bradley (Florence Briggs Thayer) Cum...
2           1       3                              Miss. Laina Heikkinen
3           1       1        Mrs. Jacques Heath (Lily May Peel) Futrelle
4           0       3                            Mr. William Henry Allen
..        ...     ...                                                ...
882         0       2                               Rev. Juozas Montvila
883         1       1                        Miss. Margaret Edith Graham
884         0       3                     Miss. Catherine Helen Johnston
885         1       1                               Mr. Karl Howell Behr
886         0       3                                 Mr. Patrick Dooley

        Sex   Age  Siblings/Spouses Aboard  Parents/Children Aboard     Fare
0      male  22.0                        1                        0   7.2500
1    female  38.0                        1                        0  71.2833
2    female  26.0                        0                        0   7.9250
3    female  35.0                        1                        0  53.1000
4      male  35.0                        0                        0   8.0500
..      ...   ...                      ...                      ...      ...
882    male  27.0                        0                        0  13.0000
883  female  19.0                        0                        0  30.0000
884  female   7.0                        1                        2  23.4500
885    male  26.0                        0                        0  30.0000
886    male  32.0                        0                        0   7.7500

[887 rows x 8 columns]

Реализация бинарного кодирование столбца 'sex'

In [16]:
from sklearn.preprocessing import LabelEncoder
def code_myohe(data, feature):
    for i in data[feature].unique():
        data[feature + "=" + i] = (data[feature] == i).astype(int)
        
le = LabelEncoder()
le.fit(data['Sex'])
data[data['Sex'].name +'N'] = le.fit_transform(data['Sex'])
code_myohe(data, 'Sex')
    
data

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare,SexN,Sex=male,Sex=female
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500,1,1,0
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833,0,0,1
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250,0,0,1
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000,0,0,1
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...
882,0,2,Rev. Juozas Montvila,male,27.0,0,0,13.0000,1,1,0
883,1,1,Miss. Margaret Edith Graham,female,19.0,0,0,30.0000,0,0,1
884,0,3,Miss. Catherine Helen Johnston,female,7.0,1,2,23.4500,0,0,1
885,1,1,Mr. Karl Howell Behr,male,26.0,0,0,30.0000,1,1,0
886,0,3,Mr. Patrick Dooley,male,32.0,0,0,7.7500,1,1,0

Выбор количественных столбцов

In [21]:
x=data[['Age', 'Pclass','Fare', 'Sex=male', 'Sex=female']]
y=data.values[::,0]
y = y.astype(int)

Обучение решающего дерева

In [22]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3)

In [23]:
from sklearn.tree import DecisionTreeClassifier
tree=DecisionTreeClassifier(max_depth=5, random_state=0)
tree.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=5,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=0, splitter='best')

Определение точности модели на обучающей выборке

In [24]:
tree.score(X_train, y_train)

0.832258064516129

Определение точности на тестовой выборке

In [25]:
tree.score(X_test,y_test)

0.8576779026217228

In [ ]:
Определение точности

In [26]:
print("training sample", tree.score(X_train, y_train))
print("test sample", tree.score(X_test, y_test))

training sample 0.832258064516129
test sample 0.8576779026217228